
.product {
	border: 1px dashed;
	border-radius: 10px;
	display:block;
	width:90%;
	margin: auto;
	text-align: left;
	padding:10px;
}

.product * {
	margin-bottom: 10px;
}

.product h5 {
	text-align: center;
}
