

/* [ FOOTER ] */
.am_footer {
	background-color: white;
	height: 50%;
	width: 100%;

	z-index: 10;

	box-shadow: 0 1px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0 1px 8px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0 1px 8px 0px rgba(0,0,0,0.75);
	-o-box-shadow: 0 1px 8px 0px rgba(0,0,0,0.75);
	-ms-box-shadow: 0 1px 8px 0px rgba(0,0,0,0.75);

	padding: 10px;
}

.am_footer .block {
	vertical-align: top;
	display: inline-block;
	color: #666;
	width: 19%;
	height: 300px;
	padding: 10px;
}

.am_footer .bottom_block {
	width: 50%;
	height: 25%;
	display: block;
	margin:auto;
	text-align: center;
}

.am_footer h5 {
	font-size: 18px;
	color: black;
}


.am_footer .icon_small {
	display:inline-block;
	width: 35px;
}

.am_footer input[type=text]:active {
	border-bottom: 10px solid #fff;
}

.am_footer li {
	margin-bottom: 10px;
}
