

/* [ HEADER ] */
.am_header {
	background-color: white;
	height: 13%;
	width: 100%;

	position: fixed;
	z-index: 10;

	box-shadow: 0 1px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0 1px 8px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0 1px 8px 0px rgba(0,0,0,0.75);
	-o-box-shadow: 0 1px 8px 0px rgba(0,0,0,0.75);
	-ms-box-shadow: 0 1px 8px 0px rgba(0,0,0,0.75);

	padding: 10px;
	padding-left:50px;
}

.am_header * {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	font-size: 20px;
}

.am_header .icon_block {
	margin-top: 1%;
	float: right;
}

.am_header .vertical_line {
	display: inline-block;
	height: 20px;
	width: 1px;
	background-color: #aaa;
	margin-top: 8px;
}

.am_header .icon {
	width:40px;
	margin-left: 0px;
	margin-right: 0px;
}

.am_header .logo {
	width: 200px;
}
