
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	/*background-color: #cccccc;*/
}

body {
	background-image: url("../assets/bkg.png");
	background-size: 80px 80px;
	height: 100%;
	font-family: Montserrat-Regular, sans-serif;
	font-weight: 400;
}


/* [ GENERAL ] */

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

.allcaps {
	text-transform: uppercase;
}

/* [ INPUTS ] */

button {
	outline: none !important;
	border: none;
	background: transparent;
}

input {
	outline: none;
	border: none !important;
}


/* [ LINKS ] */

a {
	color: #ff7b00;
	text-decoration: none;
	outline: none !important;
	transition: 0.3s;
}

a:hover {
	color: #e65540;
	font-weight: 900;
}

/* [ SECTIONS ] */

.section {
	width: 100%;
	padding-top: 30px;
}

.white_bg {
	background-color: white;
}

.section .vertical_line {
	display: inline-block;
	height: 50%;
	width: 1px;
	background-color: #aaa;
	margin:auto;
}

.section .third, .section .fourth {
	margin: 10px;
	display: inline-block;
	vertical-align: top;
	text-align: center;

}

.section .third {
	width: 31%;
}

.section .fourth {
	width: 23%;
}

.section .third *, .section .fourth * {
	width: 100%;
}
